@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fasthand&family=Montserrat:wght@300&family=Roboto&display=swap");

/* .nav-box {
  flex-direction: column;
  width: 50%;
  height: 40em;
} */

.logo {
  margin-left: 80px;
  margin-top: 90px;
  width: 140px;
  height: 190px;
  display: inline-block;
  background-color: plum;
  border-radius: 60%;
  cursor: pointer;
}
.heading {
  color: white;
  /* display: inline; */
  padding: 40px;
  color: plum;
  font-size: 60px;
}

.para {
  flex-direction: column;
  display: inline-block;
  margin-left: 100px;
  font-variant: small-caps;
  color: plum;
  font-family: "Delicious Handrawn", cursive;
  font-size: 90px;
}

span {
  color: plum;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

@media (max-width: 767px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .heading {
    font-size: 30px;
    padding: 10px;
    margin-bottom: -10px;
  }
  .para {
    font-size: 40px;
  }
}
